.main-layout {
  display: flex;
  flex-direction: column;
  min-height: inherit;
}

.main-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header .home-link {
  font-family: var(--font-display);
  font-size: 3rem;
}

.main-header .home-link a {
  color: var(--color-foreground);
}

.main-header .home-link a:hover {
  text-decoration: none;
}

.main-header .logo-medium {
  display: none;
}

.main-header a:hover {
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
}

.main-header .user-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  white-space: nowrap;
}

.main-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-main .container {
  display: flex;
  gap: 1rem;
}

main.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.form-container {
  align-self: flex-end;
}

.main-list {
  max-width: 12rem;
}

.main-outlet {
  flex: 1;
}

.main-footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-top: 1px solid var(--color-border);
}

.modal-backdrop {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-semitrans-white);
}

.modal {
  z-index: 1001;
  position: fixed;
  padding: 3rem;
  top: 3rem;
  bottom: 3rem;
  left: 1rem;
  right: 1rem;
  padding: 2rem;
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modal button.modal-action {
  width: 100%;
  margin-top: 1rem;
}
.modal .add-or-update-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1rem;
}
.modal .add-or-update-action > *:first-child {
  flex-basis: 5%;
}
.modal .add-or-update-action > *:last-child {
  flex-basis: 60%;
}
.modal.confirmation-modal {
  top: 50%;
}
.modal.confirmation-modal .content {
  position: absolute;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
}

.modal-x {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.modal-x svg {
  color: white;
  width: 3rem;
  height: 3rem;
}

.dnd-list {
  width: 100%;
  color: var(--color-background);
}
.dnd-list .card {
  border: 1px dashed gray;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: white;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dnd-list .card span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dnd-list .card span svg {
  margin-right: 1rem;
}
.dnd-list .card .card-x {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.add-list-button {
  margin-top: -1rem;
}

.item-header {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-header button {
  flex-basis: 30%;
  font-size: 1rem;
}

.routines-list {
  width: 100%;
}
.routines-list hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.routine-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.set-select,
.exercise-select,
.workout-select {
  color: var(--color-background);
}

@media print, (min-width: 640px) {
  .main-header .logo {
    display: none;
  }

  .main-header .logo-medium {
    display: block;
  }

  .main-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 639px) {
  .main-main .container {
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
